/* Created by Dayu Wang (dwang@stchas.edu) on 2022-06-04 */

/* Last updated by Dayu Wang (dwang@stchas.edu) on 2022-06-04 */


body {
    text-decoration-skip-ink: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}